[submodule "web-mode"]
    path = common/.emacs.d/web-mode
	url = git@github.com:fxbois/web-mode.git
[submodule "rinari"]
    path = common/.emacs.d/rinari
	url = git://github.com/eschulte/rinari.git
[submodule "rhtml"]
    path = common/.emacs.d/rhtml
	url = git@github.com:eschulte/rhtml.git
[submodule "ecb"]
	path = common/.emacs.d/ecb
	url = git@github.com:emacsmirror/ecb.git
